#nav-bar {
  height: 80px;
  background:#00a087;
  color: #e8fdff;
  padding: 0em 2em 0em 2em;
  position: fixed;
  width: 100vw;
}

.logo {
    height: 80px;
    width 80px;
    float: left;
}
.header {
  margin: 10px;
  float: left;
  font-size: 200%;
  line-height: 60px;
}